<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulba Home Assistant</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/webpage.css">
</head>

<body>
    <nav>
        <div class="menu-button" id="menu-button">
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
            <div class="menu-icon"></div>
        </div>
        <div class="menu" id="menu">
            <ul class="">
                <li>
                    <a class="menu-text" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
                </li>
                <li>
                    <a class="menu-text" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Applications</a>
                </li>
                <li>
                    <a class="menu-text" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Library</a>
                </li>
                <li>
                    <a class="menu-text" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a>
                </li>
            </ul>       
    
        </div>
    </nav>

    <!---------------------------------------------------------------------->

    <main>
        <!-------------------- Slide show------------ -->
        <div class="slideshow-container">
            <div class="slides fade">
                <img class="slide-img" src="../assets/images/kimetso.jpg" alt="kimetso" width="25%" height="auto">
            </div>    
            <div class="slides fade">
                <img class="slide-img" src="../assets/images/abyss.jpg" alt="abyss" width="25%" height="auto">
            </div>
            <div class="slides fade">
                <img class="slide-img" src="../assets/images/one_piece.jpeg" alt="abyss" width="25%" height="30%">
            </div>
        </div><br>

        <!-------------------- Feed --------------------->
        <div class="feed-container">
            <ul>
                <li>
                    <h3>Ttitle 1</h3>
                    <p>Qfsdnfdklsjfkd</p>
                </li>
                <li>
                    <h3>Title 2</h3>
                    <p>Tkjkldslore Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quaerat dolore molestias reiciendis magni molestiae corporis rem? Ut, non facilis quam, deleniti exercitationem accusantium, fugiat nobis ducimus nulla magnam vel?nckldscn</p>
                </li>
                <li>
                    <h3>Title 3</h3>
                    <p>kjaslkansklcnskanc</p>
                </li>
                <li>
                    <h3>Title 4</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nam officiis, similique illum tempora esse omnis repudiandae expedita at cumque. Suscipit esse ut voluptatibus, expedita fuga odit neque impedit dicta!</p>
                </li>
                <li>
                    <h3>Title 5</h3>
                    <p>Tkjkldsnckldscn</p>
                </li>
                <li>
                    <h3>item 6</h3>
                    <p>Tkjkldsnck Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum a quidem soluta dignissimos expedita? Minima accusantium vel, ea quae tempora praesentium tempore, enim delectus quo dolorum magnam culpa tenetur error.ldscn</p>
                </li>
            </ul>

        </div>

        <!------------------ Bulba Jokes ---------------->
        <div class="jokes-container">
            <img class="bulba-icon" src="../assets/images/bulba_thumbnail.webp" alt="" width="90vw" height="auto">
            <p class="jokes-text">What do you get when you cross Pikachu with porn? 
                Pikascrew.
        </div>

    
         
 

       

    </main>

    <script src="../assets/js/webpage.js"></script> 
    <script src="../assets/js/slideshow.js"></script>
    <script src="../assets/js/feed.js"></script>     
</body>
</html>